  <div class="form-group mb-2">
    <%= form_with model:topic, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class = 'topic_form'>
      <%= f.text_field :title,\
      class: 'form-control' ,size: "50", id:'title',\
      placeholder: "スレッドを作成するにはタイトルを入力してください"%>
    </div>
      <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
  </div>